$player-height: 360;
$player-width: 640;
$player-container-width: 650px;

/* colors */
$lightGrey: #e6e6e6;
$lightRed: #d65c5c;
$lightGreen: #336633;

.player {
  width: $player-container-width;
  iframe {
    border: 1px solid black;
    margin: 4px;
  }
  .player-controls {
    li {
      padding: 0;
    }
  }

}


.playlists {
  width: $player-container-width;
  margin-top: 10px;
  border: 1px solid blue;
  .list {
    width: 45%;
    float: left;
    margin: 0 10px;

    ol {
      list-style: none;
      margin: 0;
      li {
        display: block;
        padding: 5px;
        :hover {
          cursor: pointer;
        }
        background: $lightGrey;
        margin-bottom: 10px;
        overflow: hidden;
      }
    }

    .video-title {
      width: 80%;
      display: inline-block;
    }
    .video-delete {
      width: 20%;
      display: inline-block;
      color: $lightRed;
      float:right;
    }
    .video-queue {
      width: 20%;
      display: inline-block;
      color: $lightGreen;
      float:right;
    }

  }
}

