@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

* {
    @include transition(
        color 300ms ease-in-out,
        background-color 300ms ease-in-out
    );
}
