.l-site-title {
  text-transform: lowercase;
  color: $color-white;
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 2.25em;
}

.l-input {
  border: none;
  padding: $input-padding;
  border-radius: 3px;
  width: 100%;
  font-size: $input-font-size;
}

.l-button {
  width: 100%;
  background: $button-bg;
  border: none;
  color: $color-white;
  padding: $input-padding;
  border-radius: 3px;
  font-size: $input-font-size;
  cursor: pointer;

  &:focus,
  &:hover {
    background: $button-bg-hover;
  }

  &:active {
    background: $button-bg-active;
  }
}

.l-thumbnail {
  max-width: 100%;
  min-width: 100%;
}
