.playlist-container {
  @include row(table);
}

.playlist-list {
  list-style: none;
}

.playlist-item {
  @include span-columns(6);
  @include media($medium-screen) {
    @include span-columns(4);
  }
  @include media($large-screen) {
    @include span-columns(3);
  }
  display: block;
  float: left;
  padding: 0;
  position: relative;

  &:focus,
  &:hover {
    cursor: pointer;
    .playlist-item-link {
      color: $color-white;
      background: rgba($color-main, 0.75);
    }

    .playlist-item-remove {
      opacity: 1;
    }
  }

  &:active {
    cursor: pointer;
    .playlist-item-link {
      color: $color-white;
      background: rgba($color-main, 0.9);
    }

    .playlist-item-remove {
      opacity: 1;
    }
  }
}

.playlist-item-link {
  display: block;
  margin: $space-small/2;
  padding: $space-small/2;
}

.playlist-item-remove {
  color: rgba(#000, 0.6);
  position: absolute;
  top: -0.5ex;
  right: 0;
  font-size: 1.5em;
  margin: 0;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}
