.playlist-container {
  @include row(table);
}

.playlist-list {
  list-style: none;
}

.playlist-item {
  @include span-columns(6);
  @include media($medium-screen) {
    @include span-columns(3);
  }
  @include media($large-screen) {
    @include span-columns(2);
  }
  display: block;
  float: left;

  padding: $space-medium;
}
