.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: $sidebar-padding;
}

.search-results-item {
  margin: -10px;
  margin-bottom: $sidebar-padding;

  &:last-child {
    margin-bottom: 0;
  }

  &:not(:last-child):after {
    content: '';
    display: block;
    margin: 0 $sidebar-padding / 2;
    margin-top: $sidebar-padding - 10px;
    border-bottom: 1px solid rgba($color-white, 0.5);
  }
}

.search-results-item-link {
  display: block;
  color: $color-white;
  text-decoration: none;
  padding: 10px;

  &:focus,
  &:hover {
    background: rgba(#fff, 0.25);
  }

  &:active {
    background: rgba(#fff, 0.5);
  }
}

.search-results-item-img {
  max-width: 100%;
  min-width: 100%;
}

.search-results-item-title {
  margin: 0;
}
