/**
 * Sidebar animation
 * Taken from https://www.youtube.com/watch?v=d4P8s-mkMvs
 */

.page-content {
  position: relative;
  z-index: 0;
  @include transition();
}

.toggle {
  @include position(fixed, $toggler-offset null null $toggler-offset);
  z-index: 1;
  @include transition();

  text-decoration: none;
  font-size: 30px;
  color: $color-main;
  cursor: pointer;
}

.sidebar {
  @include position(absolute, 0 null null $sidebar-offset);
  z-index: 0;
  width: $sidebar-width;
  min-height: 100%;
  padding: $sidebar-padding;
  @include transition();

  background: $color-main;
}

#sidebartoggler {
  position: fixed;
  display: none;
  left: -9999px;

  &:checked + .l-page-wrap {
    .sidebar { left: 0px; }
    .toggle { left: $sidebar-full-width; }
    .page-content { padding-left: $sidebar-full-width; }
  }
}
