$color-main: #b0120a;
$color-white: #fff;

$color-grey: #e0e0e0;
$color-grey-dark: #bdbdbd;

$input-border-color: #d01716;
$button-bg: #00bcd4;
$button-bg-hover: #26c6da;
$button-bg-active: #4dd0e1;

$input-padding: 7px;
$input-font-size: 1.2em;


$sidebar-padding: 20px;
$sidebar-width: 220px;
$sidebar-full-width: $sidebar-width + ($sidebar-padding * 2);
$sidebar-offset: -1 * $sidebar-full-width;

$toggler-offset: 20px;
