/**
 * Neat Breakpoints
 */
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

/**
 * Colors
 */
$color-main: #b0120a;
$color-white: #fff;

$color-grey: #e0e0e0;
$color-grey-dark: #bdbdbd;

$input-border-color: #d01716;
$button-bg: #00bcd4;
$button-bg-hover: #26c6da;
$button-bg-active: #4dd0e1;

/**
 * Spacing
 */
$space-medium: 20px;
$space-small: golden-ratio($space-medium, 1);

$input-padding: 7px;
$input-font-size: 1.2em;

$sidebar-padding: $space-medium;
$sidebar-width: 220px;
$sidebar-full-width: $sidebar-width + ($sidebar-padding * 2);
$sidebar-offset: -1 * $sidebar-full-width;
$toggler-offset: $space-medium;

$player-container-padding-top: 80px;
