.videos-container {
  @include outer-container();
  //background: green;
}

.player-container {
  margin: auto;
  padding-top: $player-container-padding-top;
  padding-bottom: $space-medium;

  @include media($large-screen) {
    width: 90%;
  }
}

.player-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 100%;

  object,
  embed,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.current-video {
  padding: $space-medium;
  text-align: center;
}

