<aside class="playlist-container">
  <ol class="playlist-list">

    <li class="playlist-item" ng-class="{'current': isCurrent(video)}"
          ng-repeat="video in playlist.list track by $index">

      <p class="playlist-item-remove" ng-click="remove(video)">
        <i class="fa fa-times-circle-o"></i>
      </p>

      <a href="" ng-click="play(video)" class="playlist-item-link">

        <img class="l-thumbnail"
              ng-src="{{video.thumbnail}}"
              alt="{{video.title}}">
        <p class="search-results-item-title">{{video.title}}</p>

      </a>

    </li>

  </ol>
</aside>
