<div ng-controller="PlayerCtrl">
  <div class="videos-container">

    <section class="video-player">
      <youtube-video-player id="youtube-player" height="360" width="640">
      </youtube-video-player>

      <h2 class="current-video">
        {{current().title}}
      </h2>

    <section class="video-playlist">
      <ol>
        <li ng-repeat="video in playlist.list">
          <a ng-click="play(video)" class="video-title">
            {{video.title}}
          </a>
          <a href="" ng-click="remove(video)" class="video-delete">Eliminar</a>
        </li>
      </ol>
    </section>

  </div>
</div>


