<aside class="playlist-container">
  <ol class="playlist-list">

    <li class="playlist-item"
          ng-repeat="video in playlist.list track by $index">
      <a ng-click="play(video)" class="video-title">

        <div class="playlist-item-tile tile-visible">
          <img class="l-thumbnail"
              ng-src="{{video.thumbnail}}"
              alt="{{video.title}}">
          <p class="search-results-item-title">{{video.title}}</p>
        </div>

        <div class="playlist-item-tile tile-hidden">Play!</div>

      </a>
    </li>

  </ol>
</aside>
