<div ng-controller="SearchCtrl">

  <h1 class="l-site-title">Tubelists</h1>

  <div>
    <input type="text"
      class="l-input"
      ng-model="query" placeholder="ejemplo">

    <button class="l-button" ng-click="search()">
      Search!
    </button>
  </div>

  <ol class="search-results">
    <li class="search-results-item" ng-repeat="item in results">
      <a href="" class="search-results-item-link" target="blank" ng-click="add(item)">
        <img class="search-results-item-img"
          src="http://cloud-4.steampowered.com/ugc/540706343928725585/874257E1145E2DA0143523803AE07DBF174E8BF1/268x268.resizedimage"
          alt="ayoyo">

        <p class="search-results-item-title">{{item.title}}</p>
      </a>
    </li>
  </ol>

</div>
